<div style="padding: 10px 0;">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart1"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart2"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart3"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart4"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart5"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart6"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart7"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart8"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart9"></canvas>
      </p-card>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mb-2">
      <p-card>
        <canvas id="myChart10"></canvas>
      </p-card>
    </div>
  </div>
</div>
